<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.paulpaulzhang.fair.sc">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application>
        <activity android:name="cn.paulpaulzhang.fair.sc.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="cn.paulpaulzhang.fair.sc.launcher.LauncherScrollActivity" />

        <activity
            android:name="cn.paulpaulzhang.fair.sc.sign.SignUpActivity"
            android:label="@string/register" />
        <activity
            android:name="cn.paulpaulzhang.fair.sc.sign.SignInActivity"
            android:label="@string/sign_in" />

        <activity
            android:name="cn.paulpaulzhang.fair.sc.main.HomeActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="cn.paulpaulzhang.fair.sc.main.post.activity.DynamicActivity"
            android:label="@string/dynamic" />

        <activity
            android:name="cn.paulpaulzhang.fair.sc.main.post.activity.ArticleActivity"
            android:label="@string/article" />

        <activity
            android:name="cn.paulpaulzhang.fair.sc.main.interest.activity.TopicDetailActivity"
            android:theme="@style/TopicToolBarTheme" />

        <activity
            android:name="cn.paulpaulzhang.fair.sc.main.post.activity.CreateDynamicActivity"
            android:label="@string/post_dynamic"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="cn.paulpaulzhang.fair.sc.main.post.activity.CreateArticleActivity"
            android:label="@string/post_article"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="cn.paulpaulzhang.fair.sc.main.post.activity.PhotoPreviewActivity" />
        <activity android:name=".main.chat.MessageActivity" />
        <activity android:name=".main.chat.PhotoActivity" />
        <activity android:name=".main.user.activity.UserCenterActivity" />
        <activity android:name=".main.user.activity.PhotoActivity" />
        <activity
            android:name=".main.user.activity.SettingActivity"
            android:label="@string/setting" />
    </application>
</manifest>